body
	+light
	color: $text-color
.button-o
	border: 2px solid $primary
	border-radius: 15px
	padding: 17px 22px
	font-style: 12px
	+bold
	text-transform: uppercase
	color: $primary
.button
	border: none
	text-transform: uppercase
	padding: 25px 45px
	border-radius: 15px
	background-color: $primary
	color: #ffffff
	+bold



