.offer
	padding: 129px 0
	&-block
		width: 1170px
		height: 700px
		background-color: #fff
		padding: 80px
	&__title
		font-size: 25px
		text-transform: uppercase
		+bold
		margin-bottom: 20px
	&__subtitle
		display: block
		font-size: 21px
		margin-bottom: 48px
.form
	&__row
		display: flex
		align-items: center
		max-width: 900px
	&__label
		display: block
		font-size: 17px
		margin-bottom: 15px
	&__group
		flex-basis: 33.33%
	&__input
		width: 100%
		border-right-width: 0px
		&:last-child
			border-right-width: 1px
	&__checkbox
		display: block
		margin: 10px
		margin-bottom: 10px



